.nav-link {
  border-bottom: 3xp;
  border-color: transparent;
}

.nav-link:hover {
  height: 56px;
}

.nav-link.active:hover {
  background: transparent;
  border-radius: 0;
  height: 64px;
}

.nav-link.active {
  border-color: #2563eb;
  color: #2563eb;
}
